{:agent-session
 {:project-nrepl
  {:start-command ["clojure" "-M:test:nrepl"]}
  :session-profiles
  #_{:designing
     {:model-provider "anthropic"
      :model-id "claude-opus-5"
      :thinking-level :high}
     :fixing-design
     {:model-provider "anthropic"
      :model-id "claude-sonnet-5"
      :thinking-level :low}
     :planning
     {:model-provider "anthropic"
      :model-id "claude-fable-5"
      :thinking-level :high}
     :fixing-plan
     {:model-provider "anthropic"
      :model-id "claude-sonnet-5"
      :thinking-level :low}
     :implementing
     {:model-provider "anthropic"
      :model-id "claude-sonnet-5"
      :thinking-level :low}
     :reviewing-implementation
     {:model-provider "anthropic"
      :model-id "claude-opus-5"
      :thinking-level :high}
     :fixing-implementation
     {:model-provider "anthropic"
      :model-id "claude-opus-5"
      :thinking-level :low}}
  {:designing
   {:model-provider "openai"
    :model-id "gpt-5.6-sol"
    :thinking-level :high}
   :fixing-design
   {:model-provider "openai"
    :model-id "gpt-5.6-terra"
    :thinking-level :low}
   :planning
   {:model-provider "openai"
    :model-id "gpt-5.6-sol"
    :thinking-level :high}
   :fixing-plan
   {:model-provider "openai"
    :model-id "gpt-5.6-terra"
    :thinking-level :low}
   :implementing
   {:model-provider "openai"
    :model-id "gpt-5.6-terra"
    :thinking-level :low}
   :reviewing-implementation
   {:model-provider "openai"
    :model-id "gpt-5.6-sol"
    :thinking-level :high}
   :fixing-implementation
   {:model-provider "openai"
    :model-id "gpt-5.6-sol"
    :thinking-level :low}}
  #_{:designing
     {:model-provider "anthropic"
      :model-id "claude-opus-5"
      :thinking-level :high}
     :fixing-design
     {:model-provider "openai"
      :model-id "gpt-5.6-terra"
      :thinking-level :low}
     :planning
     {:model-provider "anthropic"
      :model-id "claude-fable-5"
      :thinking-level :high}
     :fixing-plan
     {:model-provider "openai"
      :model-id "gpt-5.6-terra"
      :thinking-level :low}
     :implementing
     {:model-provider "openai"
      :model-id "gpt-5.6-terra"
      :thinking-level :low}
     :reviewing-implementation
     {:model-provider "anthropic"
      :model-id "claude-opus-5"
      :thinking-level :high}
     :fixing-implementation
     {:model-provider "openai"
      :model-id "gpt-5.6-sol"
      :thinking-level :low}}}}
